# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SQLite Database
*.sqlite3
*.db

# Docker
.docker/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS Files
.DS_Store
Thumbs.db
